<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>XYZ BRANCH</h2></div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                <input  class="form-control" type="text" name="amount" id="amount" placeholder="Enter the amount to be deposited" required>
                </div>
            </form>
            <button type="submit" class="btn btn-primary">DEPOSIT</button>
        </div>
      </div>
</div>
