<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>XYZ BRANCH</h2></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                    <input  class="form-control" type="text" name="receiver" id="receiver" placeholder="Reciever's Name" required>
                    </div>
                    <div class="form-group">
                            <input  class="form-control" type="text" name="receiverbank" id="receiverbank" placeholder="Reciever's Bank" required>
                    </div>
                    <div class="form-group">
                         <input  class="form-control" type="text" name="receiveraccno" id="receiveraccno" placeholder="Reciever's Account Number" required>
                    </div>
                    <div class="form-group">
                        <input  class="form-control" type="text" name="amount" id="amount" placeholder="Amount" required>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">TRANSFER</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
          </div>
    </div>