<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<b>Details</b>
			</h4>
		</div>
		<div class="panel-body">
			<form method="post">
				<div class="form-row">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" id="title"
					placeholder="Enter Title(Mr/Mrs/Ms/Other)" required>
				</div>
					<div class="form-group col-md-4">
						<input type="text" class="form-control" id="name"
							placeholder="Enter Name" required>
					</div>
					<div class="form-group col-md-6">
						 <input type="text" class="form-control" id="fathername"
							placeholder="Enter Father's Name" required>
					</div>
				</div>
				<div class="form-row">
				<div class="form-group col-md-4">
					<input type="date" class="form-control" id="bday" placeholder="Date Of Birth" required>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" id="gender" placeholder="Enter Gender" required>
				</div>
				<div class="form-group col-sm-6">
					 <input type="text" class="form-control" id="occupation" placeholder="occupation" required>
				</div>
				</div>
				<div class="form-group">
					<input type="text"
						class="form-control" id="address"
						placeholder="Apartment, City" required>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<input type="text" class="form-control" id="category" placeholder="Enter Category" required>
					</div>
					<div class="form-group col-md-4">
						<input type="text" class="form-control" id="panno" placeholder="PAN No" required>
					</div>
					<div class="form-group col-md-4">
						<input type="Email" class="form-control" id="email" placeholder="Enter Email" required>
					</div>
				</div>
				<div class="form-group">
						<input class="form-control" type="password" id="pin" placeholder="Set Pin" required>
				</div>
			</form>
			<button (click)="createAccount()">Create Account</button>
		</div>
		</div>
		</div>